/.bash_history
/.bashrc
/.cache
/.config
/.dotnet
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.vscode
/.vscode-server
/.wget-hsts
/.zcompdump
/.zsh_history
/.zshrc
/__pycache__
/.encodec
/data
/resampling.mp3
/.condarc
/.gitconfig
/.hushlogin
/.docker
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.sudo_as_admin_successful
/.ssh
/.netrc
/wandb